* {
  margin: 0;
  padding: 0;
}

body {
  height: 2000px;
  color: #686969;
  font-size: 12px;
  font-family: "Open Sans", sans-serif;
  background-color: #ffff;
}

.header {
  display: flex;
  align-items: center;
}

.logo {
  width: 280px;
  height: auto;
  position: relative;
  top: 2%;
  margin-left: 10%;
}

nav {
  width: 700px;
  margin: auto;
  justify-content: center;
  display: flex;
}

.menu {
  position: relative;
  margin-top: 10%;
  list-style: none;
  float: left;
  justify-content: center;
}

.menu li {
  position: relative;
  float: left;
  boder: 2px solid red;
  margin-right: 20px;
}

.menu li a {
  font-size: 20px;
  text-decoration: none;
  color: #333;
  padding: 5px 10px;
  display: block;
}
.menu li a:hover {
  background: #943340;
  border-radius: 8px;
  color: #fff;
  -moz-box-shadow: 0 3px 10px 0 #ccc;
  -webkit-box-shadow: 0 3px 10px 0 #ccc;
  -text-shadow: 0px 0px 5px #fff;
}

.menu li ul {
  font-size: 8px;
  position: absolute;

  left: 0;

  display: none;
  text-color: #fff;
}

.menu li:hover ul,
.menu li.over ul {
  display: block;
}

.menu li ul li {
  display: block;
  width: 150px;
}

button cardapio {
  height: auto;
  width: 700px;
  border: 2px solid #5e2129;
  margin-left: 60%;
}

.cardapio {
  width: 400px;
  font-size: 20px;
  position: relative;
  border: 2px solid #5e2129;
  border-radius: 10px;
  margin-right: 10%;
  margin-top: 5%;
}

.cardapio a {
  color: #333;
  padding: 5px 10px;
  display: block;
  padding: 16px 24px;
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  text-decoration: none;
  font-weight: 500;
  border-radius: 10px;
  transition: background 0.2s;
}

.cardapio a:hover {
  background: #943340;
  color: #fff;
  border: 1.5px solid #5e2129;
}

.Banner {
  text-align: center;
  padding: 20px;
  background-color: #f2f2f2;
  margin-top: 30px;
}

.imagem-banner {
  max-width: 100%;
  height: auto;
  margin-bottom: 10px;
}

.bt {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

button {
  border: none;
  background: none;
  cursor: pointer;
  margin-right: 10px;
}

button img {
  width: 30px;
  height: 30px;
}

#btFoto1 img {
  filter: grayscale(100%);
}

#btFoto1:hover img {
  filter: grayscale(0%);
}
#btFoto2 img {
  filter: grayscale(100%);
}

#btFoto2:hover img {
  filter: grayscale(0%);
}
#btFoto3 img {
  filter: grayscale(100%);
}

#btFoto3:hover img {
  filter: grayscale(0%);
}

.marmitas {
  font-size: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 50%;
  margin-left: 50%;
}

.executiva ul {
  display: flex;
  ont-family: inherit;

  list-style: none;
  padding: 0;

  width: 1000px;
  height: 400px;
  margin: auto;

  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.executiva li img {
  margin-bottom: 10px;
  width: 200px;
  height: auto;
  position: relative;
}

.executiva li {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.executiva h2 {
  color: #c22026;
  margin-bottom: 20px;
  font-size: 28px;
  font-weight: 300;
  text-align: center;
  text-transform: uppercase;
}

.executiva li p {
  font-size: 18px;
  margin-bottom: 20px;

  height: 200px;
}
